<div class="dropdown batch_unrestricted_selector_all">
  <label class="centerizer">
    <%= check_box_tag 'check_all_unrestricted', 'yes', @all_checked, disabled: @disable_select_all %>
    <span class="batch-checkbox-label-text">
      Select All
    </span>
  </label>
</div>
