<div class="pull-right">

  <%= form_tag(main_app.batch_destroy_items_path, method: :delete, class: "button_to-inline") do -%>
    <%= submit_tag("Clear Cart", class: 'btn btn-danger', id: 'clear-cart') %>
  <% end %>

  <%= form_tag(main_app.download_items_path, method: :get, class: "button_to-inline") do -%>
    <%= submit_tag("Download All", class: 'btn btn-info', id: 'download-all') %>
  <% end %>

</div>
