<!-- changed div id from 'documents' -->
<div class="table-responsive" id="unrestricted_documents">
  <%= render 'morphosource/my/cart/unrestricted_group', docs: @solr_docs, items: @unrestricted_items %>
</div>
