<div class="dropdown batch_document_selector_all" style="margin-top: 10px;">
  <label class="centerizer check-all-media">
    <%= check_box_tag 'check_all', 'yes', @all_checked, class: 'check_all', disabled: @disable_select_all %>
    <span style="margin-left: 5px;">Select All Media This Page</span>
  </label>
</div>

<div>
  <% @requesters.each_with_index do |requester, counter| %>
    <%= render 'morphosource/my/request_manager/list_requesters', requester: requester, counter: counter %>
  <% end %>
</div>
