<div class="user-wrapper">
  <% get_requester_items(@items,requester) %>
  <div class="user-title">
    <h3><%= requester.email %> ( <%= @requester_items.count %> items )</h3>
  </div>

  <div class="requests-wrapper">
    <div class="check-all-div">
        <%= check_box_tag 'check_all_div', 'no', false, class: 'check_all_user' %>
      <span>Select All Media for This User</span>
    </div>

    <% requester_uses.each_with_index do |use, counter| %>
      <%= render 'morphosource/my/request_manager/list_requests', requester: requester, counter: counter, use: use, items: @requester_items %>
    <% end %>

  </div>
</div>
