<% unless current_controller?('submissions') # no need to display this in submissions flow %>

	<%= render 'form_parent_work_relationships_taxonomy', f: f %>

	<div id="taxonomy-modal" class="modal fade">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <!-- Content will be loaded here -->
	        </div>
	    </div>
	</div>

	<script type="text/javascript">
		registerModalSubmit('#taxonomy-modal', '#new_taxonomy');
	</script>

<% end %>
