<%= f.input :filter, as: :multi_value
%>

<div id="imaging_event_filter_wrapper" class="form-group multi_value optional managed ie_xray_ct" style="margin-right:7em;">

  <label class="control-label multi_value optional" for="imaging_event_filter">Filter</label>

  <ul class="listing" aria-live="polite" style=" border:solid 1px lightgray; border-radius: 5px;">
    <div id="filter_labels" style="display:flex; flex-direction:row; justify-content:space-evenly; margin-top:.5em;">
      <div style="width:50%;margin-left:8px"><label for="imaging_event_filter_material">Filter material</label></div>
      <div style="width:50%;margin-left:8px"><label>Filter thickness</label></div>
    </div>
    <li class="field-wrapper input-group input-append" style="display:flex; flex-direction:row; justify-content:space-evenly;">
      <select class="form-control select optional form-control" name="imaging_event[filter_material][]" id="imaging_event_filter_material" style="margin:5px; width:50%;">
        <option value=""></option>
        <option value="Molybdenum">Molybdenum</option>
        <option value="Aluminum">Aluminum</option>
        <option value="Copper">Copper</option>
        <option value="Rhodium">Rhodium</option>
        <option value="Niobium">Niobium</option>
        <option value="Europium">Europium</option>
        <option value="Lead">Lead</option>
      </select>
      <input class="string multi_value optional form-control imaging_event_filter_thickness form-control multi-text-field" name="imaging_event[filter_thickness][]" value="" id="imaging_event_filter_thickness" type="text" style="margin:5px; width:50%; border-radius:5px;">
    </li>
  </ul>
</div>
