
<%= render 'form_parent_work_relationships_institution', f: f %>

<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Content will be loaded here -->
        </div>
    </div>
</div>

<%= f.input :institution_code %>
