<% unless current_controller?('submissions') # no need to display this in submissions flow %>

	<%= render 'form_parent_work_relationships_institution', f: f %>

	<div id="institution-modal" class="modal fade">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <!-- Content will be loaded here -->
	        </div>
	    </div>
	</div>

	<script type="text/javascript">
		registerModalSubmit('#institution-modal', '#new_institution');
	</script>

<% end %>
