<h2>IMAGE ACQUISITION AND PROCESSING IN DETAIL</h2>


<div class="row">
	<div class="col-xs-6 showcase-label">Number of Parent Media</div>
	<div class="col-xs-6 showcase-value">Not yet implemented</div>
</div>


<%= presenter.attribute_to_html(:modality, render_as: :showcase_default, include_empty: true, html_dl: false) %>


