<div class="content-block-intro">
	<%= @presenter.p_raw_or_derived %> media 
 	<%= link_to(member.link_name, contextual_path(member, @presenter)) %> 
	was created by imaging physical object 
	<!-- <%= member_counter %> 
      # todo: later on we will need to handle more than 1 parent
	-->
	<%= link_to(@presenter.p_physical_object_title, @presenter.p_physical_object_link) %>
</div>
