<h2> CITATION AND DOWNLOAD HISTORY OF PHYSICAL OBJECT MEDIA </h2>

<div class="row">
	<div class="col-xs-6 showcase-label">
Number of downloads
	</div>
	<div class="col-xs-6 showcase-value">
Not yet implemented
	</div>
</div>

<!--div id="collapse-block-citation-and-download" class="panel-collapse collapse collapse-block row">
Not yet implemented
</div -->

<%#= collapse_expand_panel("collapse-block-citation-and-download") %>
