<li class="h5"><%= t('morphosource.admin.sidebar.requests') %></li>

<%= menu.nav_link(main_app.request_manager_path) do %>
  <span class="fa fa-tasks" aria-hidden="true"></span> <span class="sidebar-action-text"><%= t('morphosource.admin.sidebar.manage_requests') %></span>
<% end %>
