<div id="submission_child_media_in_ms" class="new_media hide">

You indicated that there is/are media already on MorphoSource that are derived from the media file you are trying to upload. Please visit the media page on MorphoSource for that derived media, and initiate the process of uploading this parent media from that page. If there are multiple media already on MorphoSource that are derived from the media file you are trying to upload, please <a href="mailto:info@MorphoSource.org">contact the MorphoSource administrators</a>.

</div>
