<div id="submission_create_cho" class="hide">
  <%= simple_form_for @cho_form, url: stage_cho_submissions_url do |f| %>
    <div class="form-group">
      <%= render partial: 'work_creation_metadata', locals: {f: f} %>
      <div>
        <%= f.submit 'Create New Cultural Heritage Object', class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
