<div id="submission_device_institution_select">
  <h5><%= t('morphosource.submission.institution_select') %></h5>
  <div>
    <%= f.submit 'No institution', name: 'no_institution', class: 'btn btn-primary', role: 'button' %>
  </div>
  <% if institutions.present? %>
    <h5>Select an existing institution</h5>
    <div class="form-group">
      <div class="form-inline">
        <% # if a new institution has been added previously, add it to the select dropdown manually (since the work has not been created yet)
        if session[:submission_institution_create_params].present? 
          new_institution_title = session[:submission_institution_create_params][:title].first
          institution_selector_new = institution_selector.unshift([new_institution_title, "new_institution_id_to_be_created"])
        end
        %>
        <%= f.input :device_institution_id, collection: institution_selector_new, prompt: 'Select institution', label: false %>
      </div>
      <div>
        <%= f.submit 'Continue with selected institution', name: 'institution_select', class: 'btn btn-primary', role: 'button', onclick: 'return isDropdownSelected("submission[device_institution_id]")' %>
      </div>
    </div>
  <% end %>
  <div id="submission_choose_create_device_insititution">
    <a href="#" id="submission_show_create_device_institution" class="btn btn-primary">Create New Institution</a>
  </div>
</div>
