<div class='submission_footer'>
  <div class='start_over'><a id="start_over" href="#">Start over</a></div>
</div>

<!-- debugging info below -->
<%# 
Device: <%= @submission.device_id %>

<%#
Modality: <%= cookies[:modality_to_set] %>
