<div class='submission_footer'>
  <div class='start_over'><a id="start_over" href="#">Start over</a></div>
</div>

<%# 
<!-- --- for debug purpose --- 
<div style="color:red">

<%# 
<br>
Device: <%= @submission.device_id %>
<%# 
<br>
Modality: <%= cookies[:modality_to_set] %>

<!--
</div>
-->