<div class='submission_footer'>
  <div class='start_over'><a id="start_over" href="#">Start over</a></div>
</div>

<div style="color:red; display:block">

raw_or_derived_media: <%= @submission.raw_or_derived_media %>
<br>
BSO or CHO: <%= @submission.biospec_or_cho %>
<br>
Device: <%= @submission.device_id %>
<br>

</div>