<%# TODO: This may not be the best place for this script. %>
<script>
    $(document).ready(function () {
        $("#submission_imaging_event_id").select2();
    });
</script>

<div class="form-group">
  <div class="form-inline">
    <%# TODO: Width set to an arbitrary pixel value for now.  This is probably not appropriate for accessibility. %>
    <%= f.input :imaging_event_id, collection: object_imaging_event_selector(@submission.object_id),
                prompt: 'Select imaging event', input_html: {style: 'width: 400px'} %>
  </div>
</div>
