<div id="submission_immediate_parents" class="derived_media hide">  
  <%= f.input :immediate_parents_count, input_html: {class:'form-control-sm', style:'width:50px'} %>

  <%= f.submit 'Continue', id: 'btn_immediate_parents_continue', class: 'btn btn-primary' %>
</div>
