<div id="submission_institution_select">
  <h5><%= t('morphosource.submission.institution_select') %></h5>
  <div>
    <%= f.submit 'No institution', name: 'no_institution', class: 'btn btn-primary', role: 'button' %>
  </div>
  <% if institutions.present? %>
    <h5>Select an existing institution</h5>
    <div class="form-group">
      <div class="form-inline">
        <%# TODO: Width set to an arbitrary pixel value for now.  This is probably not appropriate for accessibility. %>
        <%= f.input :institution_id, collection: institution_selector, prompt: 'Select institution', label: false %>
      </div>
      <div>
        <%= f.submit 'Continue with selected institution', name: 'institution_select', class: 'btn btn-primary', role: 'button', onclick: 'return isDropdownSelected("submission[institution_id]")' %>
      </div>
    </div>
  <% end %>
  <div id="submission_choose_create_insititution">
    <a href="#" id="submission_show_create_institution" class="btn btn-primary">Create New Institution</a>
  </div>
</div>
