<%# TODO: This may not be the best place for this script. %>
<script>
    $(document).ready(function () {
        $("#submission_institution_id").select2();
    });
</script>

<div class="form-group">
  <div class="form-inline">
    <%# TODO: Width set to an arbitrary pixel value for now.  This is probably not appropriate for accessibility. %>
    <%= f.input :institution_id, collection: institution_selector, prompt: 'Select institution',
                input_html: {style: 'width: 400px'} %>
  </div>
</div>
