<div id="submission_parents_not_in_ms" class="submission_flow derived_media hide">  
  <%= simple_form_for @submission do |f| %>
    <%= f.input :parent_media_how_to_proceed,
                as: :radio_buttons,
                collection: [ 
                  Submission::PARENT_MEDIA_UPLOAD_FILE_LATER, 
                  Submission::PARENT_MEDIA_UPLOAD_FILE_NOW 
                ] %>
    <%= f.submit 'Continue', name: 'parent_media_how_to_proceed_continue', class: 'btn btn-info', role: 'button' %>  
  <% end %>
</div>

