<div class="form-inline">
<!-- todo: need to add the ability to add more than one parent media -->
<%= f.input_field :parent_media_id,
                  prompt: :translate,
                  autocomplete: 'off',
                  data: {
                      autocomplete: :parent_media_id,
                      'autocomplete-url' => find_media_autocomplete_url
                  } %>
</div>

<script>
$(function(){
  $('#submission_parent_media_id').autocomplete({
    source: function (request, response) {
      $.ajax({
        url: "<%= find_media_autocomplete_url %>" + request.term,
        type: 'GET',
        dataType: 'json',
        complete: function (xhr, status) {
          var results = $.parseJSON(xhr.responseText);
          response(results);
        }
      });
    },
    autoFocus: true
  });
});    
</script>