<div class="form-inline">
  <%= f.input_field :parent_media_id,
                  prompt: :translate,
                  autocomplete: 'off',
                  data: {
                      autocomplete: :parent_media_id,
                      'autocomplete-url' => find_media_autocomplete_url
                  } %>
  <a id="btn_add_parent" class="btn btn-primary">Add</a>
</div>
<div style="margin:10px">
  <%= f.input :parent_media_list, 
    input_html: { style: 'width:300px' }
  %>
</div>

<script>
$(function(){
  $('#submission_parent_media_id').autocomplete({
    source: function (request, response) {
      $.ajax({
        url: "<%= find_media_autocomplete_url %>" + request.term,
        type: 'GET',
        dataType: 'json',
        complete: function (xhr, status) {
          var results = $.parseJSON(xhr.responseText);
          response(results);
        }
      });
    },
    autoFocus: true
  });
});    
</script>