<div id="submission_choose_raw_or_derived_media">
  <%= f.input :raw_or_derived_media,
              as: :radio_buttons,
              collection: [ Submission::MEDIA_RAW, Submission::MEDIA_DERIVED ] %>
  <a href="#" id="submission_choose_raw_or_derived_media_continue" class="btn btn-primary"><%= t('morphosource.submission.continue') %></a>
</div>
