<div id="submission_choose_raw_or_derived_media">
  <%= f.input :raw_or_derived_media, as: :hidden %>
	<p>We need to gather some initial information about your media. Please select all that apply.</p>

	<div class="checkbox_group">
		<div>
			<input id="cb1" name="cb1" class="t1_choices" type="checkbox">
			<label>My media is derived from some parent media file(s). Select this even if you do not plan to upload the parent media file(s). We consider CT reconstructions to be derived from parent CT projection media, even though in most cases we suggest users do not upload projections.</label>
		</div>
		<div>
		  <input id="cb2" name="cb2" class="t1_choices" type="checkbox">
		  <label>There is/are media already on MorphoSource that are derived from my media file.</label>
		</div>
	</div>

  <a href="#" id="submission_choose_raw_or_derived_media_continue" class="btn btn-primary"><%= t('morphosource.submission.continue') %></a>
</div>
