<% provide :page_title, t('morphosource.submission.page_title') %>
<% provide :page_header do %>
  <h1><%= t('morphosource.submission.page_header') %></h1>
<% end %>

<%= render(partial: 'media_create') %>
