<div class="modal-header">
  <h5 class="modal-title">New institution</h5>
</div>
<div class="modal-body">

	<div id="submission_create_institution">
	  <%= simple_form_for @institution_form, url: new_institution_submit_submissions_url do |f| %>
	    <div class="form-group">
	      <%= render partial: 'work_creation_metadata', locals: {f: f} %>
	      <div>
	        <%= f.submit 'Create New Institution', class: "btn btn-primary" %>
	      </div>
	    </div>
	  <% end %>
	</div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>


