<h5>New taxonomy</h5>
<%= simple_form_for @taxonomy_form, url: new_taxonomy_submit_submissions_url do |f| %>
  <div class="form-group">
    <%= render partial: 'work_creation_metadata', locals: {f: f} %>
    <div>
      <%= f.submit 'Create New Taxonomy', class: "btn btn-primary" %>
		  <button type="button" class="btn btn-secondary cancel">Cancel</button>
    </div>
  </div>
<% end %>
