<% provide :page_title, t('morphosource.submission.page_title') %>
<% provide :page_header do %>
  <h1><%= t('morphosource.submission.page_header') %></h1>
<% end %>

<div class="submission_flow" id="submission_processing_event">
  <%= render(partial: 'processing_event_details') %>
</div>

<%= render(partial: 'footer') %>
