<h3> COLLECTIONS PHYSICAL OBJECT BELONGS TO </h3>

<ul>
	<li>American Museum of Natural History Mammalogy Collections</li>
	<li>Cercopithecoids of West Africa</li>
	<li>Winchester 2016: Dental topography of extant cercopithecoids</li>
</ul>

