 	<div class="thumbnail col-xs-4">
		<% member = showcase_media_items_member %>
    <%= render_thumbnail_tag member %><br>
    <%= link_to(member.link_name, contextual_path(member, @presenter)) %><br>
    <%= member.part %><br>
    <%= member.modality %><br>
  </div>
