<h2>BIBLIOGRAPHIC CITATIONS FOR THIS PHYSICAL OBJECT</h2>
<%= presenter.attribute_to_html(:bibliographic_citation, render_as: :showcase_doi_link_with_citation, include_empty: true, html_dl: false) %>

<div id="collapse-block-bibliographic-citations" class="panel-collapse collapse collapse-block">

<div class="row">
	<div class="col-xs-6 showcase-label">
Not yet implemented
	</div>
	<div class="col-xs-6 showcase-value">
Not yet implemented
	</div>
</div>

</div>

<%= collapse_expand_panel("collapse-block-bibliographic-citations") %>