<h3> CITATION AND DOWNLOAD HISTORY OF PHYSICAL OBJECT MEDIA </h3>

<div class="row">
	<div class="col-xs-5 showcase-label">
Number of downloads
	</div>
	<div class="col-xs-5 showcase-value">
	500
	</div>
</div>

<div id="collapse-block-citation-and-download" class="panel-collapse collapse collapse-block">
Lorem ipsum, dolor, sit amet, sapien etiam, nunc amet dolor ac odio...
</div>

<%= collapse_expand_panel("collapse-block-citation-and-download") %>
