div.showcase {

	max-width: 1200px;
	border: 2px solid #efefef;
	margin-top: 18px;
	
	/* div {border:1px dotted red;} */

	/* .label-ms-badge {
		background-color: red;
	} */

	
	.show-actions {
		 padding: 3.5vw 1vw 0 0;
  	@media (min-width: 768px) {
		  padding: 1.9vw 1vw 0 0;
		}
	}

	.badge-wrapper {
		display: block;

		div {
			display: inline-block;	
		}

		.label {
			font-size: 1.6vw;
	  	@media (min-width: 768px) and (max-width: 1199px) {
	  		font-size: 1.3vw; 
			}
	  	@media (min-width: 1200px) {
	  		font-size: 16px;
	  	}

		}
	}

	#showcase-title-wrapper {
		background-color: #efefef;
	}

	#showcase-title {
		margin-bottom: 0.5vw;
		padding-bottom: 8px;
		border-bottom: 2px solid #337ab7;
		font-size: 4vw;
  	@media (min-width: 768px) and (max-width: 1199px) {
  		font-size: 3vw; 
		}
  	@media (min-width: 1200px) {
  		font-size: 36px;
  	}
	}

	h2 {
		margin-top: 10px;
	}
	h3 {
		background-color: #efefef;	
		padding: 12px 20px;
    /* font-size:16px; */
    font-size: 1.4vw; 
  	@media (min-width: 1200px) {
  		font-size: 17px;
  	}
	}
	h4.panel-title {
		background-color: #efefef;	
		padding: 0;
		text-align: center;

		a.btn {
	    /* font-size:16px; */
	    font-size: 1.3vw; 
	  	@media (min-width: 1200px) {
	  		font-size: 16px;
	  	}
	  	padding: 2px 0;
	  }

  	.glyphicon {
	    top: 2px;
	    margin: 0 5px;
  	}
	}

	.showcase-label, .showcase-value,
	.content-block .row > div {
    /* font-size: 14px; */
		font-size: 1.6vw;
  	@media (min-width: 768px) and (max-width: 1199px) {
  		font-size: 1.3vw; 
		}
  	@media (min-width: 1200px) {
  		font-size: 16px;
  	}
	}

	.showcase-link {
		word-break: break-all;
	}

	.dropdown-menu, .twitter-typeahead .tt-menu {
		min-width: 88px;
	}

	div.preview {
		margin-top: 20px;
		background-color: #efefef;
		border: 1px solid #efefef;
	}

	.preview-image {
		width:50%;
    margin: 10vw auto;
    display: block;

  	@media (min-width: 768px) {
			width:35%;
		}
	}

	.media-block .thumbnail {
		display:inline-block;
		border: none;
	}

	.row {
		padding:4px 24px;		
	}
	.row.collapse-button {
		padding:4px 15px;
	}


}